[test_AF Logs dump]
class = Plugins.Ssh.Test
executors = exec_vm
comment = Dump the journal
cmd = mkdir -p /tmp/af-logs && journalctl > /tmp/af-logs/server.journal && (test -e /var/log/cloud-init-application-factory.log && cp /var/log/cloud-init-application-factory.log /tmp/af-logs || true)
expected_exitcode = 0

[test_AF Logs pull]
class = Plugins.Ssh.Test
executors = exec_local
comment = Pull Servers Journal Dump
cmd = scp -r -i $SSH_KEY_ABSPATH -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null root@$SERVERIP:/tmp/af-logs af-logs
expected_exitcode = 0
