[exec_local]
class = Plugins.Shell.Session

[exec_vm]
class = Plugins.Ssh.Session
host = $SERVERIP
user = root
private_key_file = $SSH_KEY_ABSPATH

[include_recipe-additonal-image-tests]
path = $WORKFLOW_HOMEDIR/if-image-tests/app-tests/application-factory/recipe_install_addtional.conf
