[test_traefik_https_cert_issuer]
class = Plugins.Shell.Test
executors = exec_local
comment = App reachable via Traefik over HTTPS; served cert issuer must be LE staging
cmd = bash $WORKFLOW_HOMEDIR/if-image-tests/app-tests/application-factory/check-traefik-cert.sh
expected_exitcode = 0
